<% provide(:title, 'Drugs and Food Interaction Checker | About') %>
<h1>About This Website</h1>
<p>
This website was created by Sammy Nguyen, Collin Melton, Wei Wang, and
Kun-Hsing Yu for their Stanford BMI210 final project.  This website
allows users to search for drug-drug and drug-food interactions.  The 
site also allows users to search for alternative drugs which treat the 
same indication but do not interact.
</p>