<% provide(:title, 'Drugs and Food Interaction Checker | Home') %>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

<!-- autocomplete -->
<style>
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  $(".autocomplete").autocomplete({
    minLength: 3,
    source: "consumables/search"
  });
});

$(document).ready(function(){
  $("#addField").click( function() {
    $("#drugEntries").append('<label>Drug/food</label>');
    $("#drugEntries").append('<input class="autocomplete" name="ids[]" />');
    $(".autocomplete").autocomplete({
      minLength: 3,
      source: "consumables/search"
    });
  });
});
</script>

<div class="center hero-unit">
  <h1>Welcome to the Drugs and Food Interaction Checker</h1>
  
  <form accept-charset="UTF-8" action="interactions/find" method="get">
    <div id="drugEntries">
      <label>Drug/food</label>
      <input class="autocomplete" name="ids[]" />     
      <label>Drug/food</label>
      <input class="autocomplete" name="ids[]" />    
    </div>
    <%= submit_tag("Search") %>
  </form>

  <button id="addField">Add new drug</button>
  
</div>
