<% provide(:title, 'Drugs and Food Interaction Checker | Home') %>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$("#addField").click( function() {
			$("#drugEntries").append('      <label>Drug/food</label><input name="ids[]" />');
		});
	});
</script>

<div class="center hero-unit">
  <h1>Welcome to the Drugs and Food Interaction Checker</h1>
  
  <form accept-charset="UTF-8" action="/find" method="get">
    <div id="drugEntries">
      <label>Drug/food</label>
      <input name="ids[]" />     
      <label>Drug/food</label>
      <input name="ids[]" />    
    </div>
    <%= submit_tag("Search") %>
  </form>

<button id="addField">Add new drug</button>
  
</div>
